* {
    margin: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-black: #202020;
    --secondary-black: #505050;
    --primary-gray: #828282;
}

[shadow] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#microint-container {
    background-color: var(--primary-black);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

#no-docs-p {
    color: white;
    width: 100%;
    text-align: center;
}

.lvl-title {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 100%;
}

.card {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    margin: 1rem;
    background-color: white;
}

.card-content {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.text-wrapper {
    position: relative;
    height: 8rem;
    overflow-y: hidden;
    transform: translateY(-4rem);
}

.text-wrapper h2 {
    font-weight: 700;
    margin-bottom: .5rem;
}

.card h1, .card p {
    margin: 0;
    line-height: 1.1rem;
    padding: 0;
}

.card p {
    color: var(--secondary-black);
    font-size: 15px;
}

.tab {
    width: 4rem;
    height: 4rem;
    position: relative;
    transform: translateX(5rem) translateY(-1rem);
    padding: .75rem;
    background-color: var(--red);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0);
    z-index: 10;
}

.tab h2 {
    color: white;
    float: right;
    font-weight: 700;
    margin: 0;
    pointer-events: none;
}

.speech-bubble {
    clip-path: polygon(0 20%, 34% 20%, 47% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%);
    background-color: white;
    width: fit-content;
    height: fit-content;
    z-index: 15;
    position: absolute;
    margin: 2rem 0 0 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem .55rem .5rem;
    opacity: 0;
    pointer-events: none;
}

.speech-bubble p {
    color: var(--red);
}

#no-speech-bubble {
    display: none;
}

#no-tab {
    opacity: 0;
}

.fog {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10rem);
}

.fog-text-box {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fog-text {
    opacity: 0;
    color: var(--primary-black);
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 2rem;
}

.icons {
    height: 30%;
    width: 200%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
}

.icons svg {
    width: 2.5rem;
    fill: var(--primary-black);
    z-index: 15;
}

svg.icon-download, svg.icon-trash {
    width: 2rem;
    height: 2rem;
}

/* Hover States */

.fog, .icons, .fog h2, .icon-download, .icon-trash, .speech-bubble, .card {
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

#modal-backdrop, #trash-confirm, #trash-confirm button {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.fog-text-box:hover .fog-text {
    color: var(--green);
}

.card:hover, #trash-options button {
    cursor: pointer;
}

.card:hover .fog{
    background-color: rgba(255, 255, 255, 0.9);
}

.card:hover .icons {
    width: 100%;
}

.card:hover .fog h2, .card:hover .icons {
    opacity: 1;
}

.icon-download:hover {
    fill: var(--green)
}

.icon-trash:hover {
    fill: var(--red);
}

/* Trash */

#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    z-index: 20;
    display: none;
}

#trash-confirm {
    position: fixed;
    height: fit-content;
    width: 20rem;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    transform: translateX(-50%) translateY(-50%);
    z-index: 25;
    text-align: center;
    opacity: 0;
    display: none;
}

#trash-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#trash-confirm h1 {
    font-size: 1.75rem;
}

#trash-confirm h1, #trash-confirm h2, #trash-confirm button {
    margin: 1rem 0;
}

#trash-confirm button {
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: white;
    text-align: center;
}

#trash-no {
    background-color: var(--red);
    border: var(--red) solid .15rem;
}

#trash-no:hover {
    background-color: white;
    color: var(--red);
}

#trash-yes {
    background-color: var(--blue);
    border: var(--blue) solid .15rem;
}

#trash-yes:hover {
    background-color: white;
    color: var(--blue);
}

#microint-title svg {
    width: 1.2rem;
    margin: 0 0 0 .75rem;
    fill: white;
}

#microint-title {
    margin-left: 5%;
    display: flex;
    background-color: var(--primary-black);
    height: fit-content;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: .25rem .25rem 0 0;
    color: var(--green);
}