* {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

:root {
    --primary-black: rgb(65, 65, 65);
    --primary-accent: #c4493f;

    --header-height: 8em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

[shadow] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Font Styles */

h1 {font-size: 32px;}
h2 {font-size: 24px; text-align: center;}
h3 {font-size: 20px; text-decoration: underline;}

h1, p, li {
    margin: 1.5em 0;
}

h2 {
    margin: 1.5em 0;
    color: white;
}

/* Major Content */

body {
    background-color: var(--primary-black);
    width: 100%;
    height: 100%;
}

header {
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
}

header h1, header h2 {
    margin: .75em 0;
    text-align: center;
    color: black;
}

header h2 {
    color: blue;
    text-decoration: underline;
}

header h2:hover {
    color: rgb(65, 65, 65);
}

main {
    padding: var(--header-height) 2em;
    max-width: 100em;
    margin: auto;
}

video, img {
    width: 100%;
}

video:focus {
    outline: none;
}

video::-webkit-media-controls-volume-slider, video::-webkit-media-controls-mute-button, video::-webkit-media-controls-fullscreen-button {
    display:none;
}

.row {
    background-color: white;
    width: 100%;
    z-index: 5;
    clear: both;
}

#row_2 .rightSide h3 {
    text-align: center;
    margin-bottom: 1.5em;
}

.leftSide, .rightSide {
    padding: 2em;
    width: 50%;
    float: left;
}

/* Footer */

footer {
    clear: left;
    height: 2rem;
    width: 100%;
    text-align: center;
}

#credits {
    width: fit-content;
    height: 100%;
    margin: auto;
}

#credits p {
    color: white;
    float: left;
    margin: .5rem 1rem;
}

#credits:hover {
    background-color: white;
}

#credits:hover p {
    color: black;
}

.card, .caption, #credits, #credits p {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 65em) {
    .leftSide, .rightSide {
        clear: both;
        width: 100%;
        margin: 0;
        padding-top: 0;
    }
    #row_2 .leftSide, #row_2 .rightSide {
        float: left;
    }
    header h1, header h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 28em) {
    header h1, header h2 {
        font-size: 20px;
    }
}